/*
 * Touch LCD device tree
 *  - ILI9341 LCD device tree for a generic LCD display using the pocketbeagle SPI0
 *  - TSC2046 resistive touch controller (TSC2046) using the pocketbeagle SPI1
 *
 * Build
 *  dtc -O dtb -o PB-TOUCH-TFT.dtbo -b 0 -@ PB-TOUCH-TFT.dts
 *
 * Install
 *  sudo cp PB-TOUCH-TFT.dtbo /lib/firmware
 *  edit /boot/uEnv.txt as root and replace the ###Custom Cape line as shown below
 *
 *   ###Custom Cape
 *   dtb_overlay=/lib/firmware/PB-TOUCH-TFT.dtbo
 *
 * Reboot and you should be rewarded by a lit LCD and a /dev/fb0 entry for your pleasure.
 *
 * Based on the work by: AnthonyDiGirolamo and Ankit Daftery
 *
 */
/dts-v1/;
/plugin/;

/ {
compatible = "ti,am335x-pocketbeagle";

/* identification */
part-number = "PB-TOUCH-TFT";

/* version */
version = "00A0";

/* stat the resources this cape uses */
exclusive-use = 
	/* the LCD pin header uses */
	"P1.8",		/* spi0_sclk */
	"P1.10",	/* spi0_d0 - MISO */
	"P1.12",	/* spi0_d1 - MOSI */
	"P1.6",		/* spi0_cs0 */
	"P1.4",		/* gpio2_25 - reset */
	"P2.8",		/* gpio1_28 - dc */
	"P2.1",		/* ehrpwm1a - backlight */
	/* the Touch pin header uses */
	"P2.31",	/* SPI1_cs1 */
	"P2.27",	/* SPI1_d0 - MISO */
	"P2.25",	/* SPI1_d1 - MOSI */
	"P2.29",	/* SPI1_sclk */
	"P2.19",	/* gpio0_27 - pendown */
	/* the hardware ip uses */
	"gpio0_27",
	"gpio1_28",
	"gpio2_25",
	"ehrpwm1a",
	"spi0",
	"spi1";

	fragment@0 {
		target = <&ocp>;
		__overlay__ {
			P1_06_pinmux { status = "disabled"; };	/* LCD - CS */
			P1_08_pinmux { status = "disabled"; };	/* LCD - SCLK */
			P1_10_pinmux { status = "disabled"; };	/* LCD - MISO */
			P1_12_pinmux { status = "disabled"; };	/* LCD - MOSI */
			P2_01_pinmux { status = "disabled"; };	/* LCD - LED */
			P2_08_pinmux { status = "disabled"; };	/* LCD - DC */
			P1_04_pinmux { status = "disabled"; };	/* LCD - RST */
			P2_19_pinmux { status = "disabled"; };	/* Touch - pendown */
			P2_25_pinmux { status = "disabled"; };	/* Touch - MOSI */
			P2_27_pinmux { status = "disabled"; };	/* Touch - MISO */
			P2_29_pinmux { status = "disabled"; };	/* Touch - SCLK */
			P2_31_pinmux { status = "disabled"; };	/* Touch - CS */
		};
	};

	/*
	 * Free up the gpios used by the cape-universal gpio helpers.
	 */
	fragment@1 {
		target = <&ocp>;
		__overlay__ {
			cape-universal { status = "disabled"; };
		};
	};

	/*
	 * Make a new set of gpio helpers.
	 */
	fragment@2 {
		target = <&ocp>;
		__overlay__ {
			cape-universal@1 {
				compatible = "gpio-of-helper";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <>;

				P1_02 {
					gpio-name = "P1_02";
					gpio = <&gpio2 23 0>;
					input;
					dir-changeable;
				};

				P1_20 {
					gpio-name = "P1_20";
					gpio = <&gpio0 20 0>;
					input;
					dir-changeable;
				};

				P1_26 {
					gpio-name = "P1_26";
					gpio = <&gpio0 12 0>;
					input;
					dir-changeable;
				};

				P1_28 {
					gpio-name = "P1_28";
					gpio = <&gpio0 13 0>;
					input;
					dir-changeable;
				};

				P1_29 {
					gpio-name = "P1_29";
					gpio = <&gpio3 21 0>;
					input;
					dir-changeable;
				};

				P1_30 {
					gpio-name = "P1_30";
					gpio = <&gpio1 11 0>;
					input;
					dir-changeable;
				};

				P1_31 {
					gpio-name = "P1_31";
					gpio = <&gpio3 18 0>;
					input;
					dir-changeable;
				};

				P1_32 {
					gpio-name = "P1_32";
					gpio = <&gpio1 10 0>;
					input;
					dir-changeable;
				};

				P1_33 {
					gpio-name = "P1_33";
					gpio = <&gpio3 15 0>;
					input;
					dir-changeable;
				};

				P1_34 {
					gpio-name = "P1_34";
					gpio = <&gpio0 26 0>;
					input;
					dir-changeable;
				};

				P1_35 {
					gpio-name = "P1_35";
					gpio = <&gpio2 24 0>;
					input;
					dir-changeable;
				};

				P1_36 {
					gpio-name = "P1_36";
					gpio = <&gpio3 14 0>;
					input;
					dir-changeable;
				};

				P2_02 {
					gpio-name = "P2_02";
					gpio = <&gpio1 27 0>;
					input;
					dir-changeable;
				};

				P2_03 {
					gpio-name = "P2_03";
					gpio = <&gpio0 23 0>;
					input;
					dir-changeable;
				};

				P2_04 {
					gpio-name = "P2_04";
					gpio = <&gpio1 26 0>;
					input;
					dir-changeable;
				};

				P2_05 {
					gpio-name = "P2_05";
					gpio = <&gpio0 30 0>;
					input;
					dir-changeable;
				};

				P2_06 {
					gpio-name = "P2_06";
					gpio = <&gpio1 25 0>;
					input;
					dir-changeable;
				};

				P2_07 {
					gpio-name = "P2_07";
					gpio = <&gpio0 31 0>;
					input;
					dir-changeable;
				};

				P2_09 {
					gpio-name = "P2_09";
					gpio = <&gpio0 15 0>;
					input;
					dir-changeable;
				};

				P2_10 {
					gpio-name = "P2_10";
					gpio = <&gpio1 20 0>;
					input;
					dir-changeable;
				};

				P2_11 {
					gpio-name = "P2_11";
					gpio = <&gpio0 14 0>;
					input;
					dir-changeable;
				};

				P2_17 {
					gpio-name = "P2_17";
					gpio = <&gpio2 1 0>;
					input;
					dir-changeable;
				};

				P2_18 {
					gpio-name = "P2_18";
					gpio = <&gpio1 15 0>;
					input;
					dir-changeable;
				};

				P2_20 {
					gpio-name = "P2_20";
					gpio = <&gpio2 0 0>;
					input;
					dir-changeable;
				};

				P2_22 {
					gpio-name = "P2_22";
					gpio = <&gpio1 14 0>;
					input;
					dir-changeable;
				};

				P2_24 {
					gpio-name = "P2_24";
					gpio = <&gpio1 12 0>;
					input;
					dir-changeable;
				};

				P2_28 {
					gpio-name = "P2_28";
					gpio = <&gpio3 20 0>;
					input;
					dir-changeable;
				};

				P2_30 {
					gpio-name = "P2_30";
					gpio = <&gpio3 17 0>;
					input;
					dir-changeable;
				};

				P2_32 {
					gpio-name = "P2_32";
					gpio = <&gpio3 16 0>;
					input;
					dir-changeable;
				};

				P2_33 {
					gpio-name = "P2_33";
					gpio = <&gpio1 13 0>;
					input;
					dir-changeable;
				};

				P2_34 {
					gpio-name = "P2_34";
					gpio = <&gpio3 19 0>;
					input;
					dir-changeable;
				};

				P2_35 {
					gpio-name = "P2_35";
					gpio = <&gpio2 22 0>;
					input;
					dir-changeable;
				};
			};
		};
	};

	fragment@3 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			pwm_bl_pins: pinmux_pwm_bl_pins {
				pinctrl-single,pins = <
					0x48 0x06       /* ehrpwm1a, MODE6 */
				>;
			};
		};
	};

	fragment@4 {
		target = <&epwmss1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&ehrpwm1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&ocp>;
		__overlay__ {
			backlight {
				compatible = "pwm-backlight";
				pinctrl-names = "default";
				pinctrl-0 = <&pwm_bl_pins>;
				status = "okay";

				pwms = <&ehrpwm1 0 500000 0>;
				pwm-names = "backlight";
				brightness-levels = <0 4 8 16 32 64 128 255>;
				default-brightness-level = <7>; /* index to the array above */
			};
		};
	};

	fragment@7 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			channel@0 {
				status = "disabled";
			};
			channel@1 {
				status = "disabled";
			};

			adafruit28: adafruit28@0{
				compatible = "ilitek,ili9341";
				pinctrl-names = "default";
				pinctrl-0 = <
					&P1_06_spi_cs_pin	/* CS */
					&P1_08_spi_sclk_pin	/* SCLK */
					&P1_12_spi_pin		/* D1 (MOSI) */
					&P1_10_spi_pin		/* D0 (MISO) */
					&P1_04_gpio_pin		/* RST */
					&P2_08_gpio_pin		/* DC */
				>;
				reg = <0>;
				buswidth = <8>;
				reset-gpios = <&gpio2 25 0>; /* P1_04 - 89 */
				dc-gpios = <&gpio1 28 0>; /* P2_08 - 2 */
				debug = <1>;
				spi-max-frequency = <25000000>;
				rotate = <90>;
				bgr;
				fps = <30>;
			};
		};
	};


	fragment@8 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <0x1>;
	     	        #size-cells = <0>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <
				&P2_29_spi_sclk_pin		/* SCLK */
				&P2_31_spi_cs_pin               /* CS */
				&P2_25_spi_pin                  /* D1 (MOSI) */
				&P2_27_spi_pin                  /* D1 (MISO) */
			>;
			#ti,pindir-d0-out-d1-in = <1>;
 		    ads7846@0 {
				compatible = "ti,ads7846";
				spi-max-frequency = <100000>;   /* Higher frequency causes more jitter */
				interrupts = <27 0>;             /* pin number 19 and falling edge interrupt */
				interrupt-parent = <&gpio0>;
				pendown-gpio = <&gpio0 27 0>;        /* This corresponds to pin no 19 = GPIO0[27]*/
				reg = <1>;     /* We are using chip select 1, so we enter 1 here */
                #addr-size = <2>;
                #page-size = <32>;

                /* driver defaults */
                ti,x-min = /bits/ 16 <0xB0>;
                ti,y-min = /bits/ 16 <0x231>;
                ti,x-max = /bits/ 16 <0xF49>;
                ti,y-max = /bits/ 16 <0xF6B>;
                ti,pressure-min = /bits/ 16 <0>;
                ti,pressure-max = /bits/ 16 <0xFF>;
                ti,x-plate-ohms = /bits/ 16 <0x96>;
                ti,swap_xy = /bits/ 16 <0>;
                ti,keep_vref_on = /bits/ 16 <0>;
                ti,cs = /bits/ 16 <1>;
    		    linux,wakeup;
	        };
        };
    };

};
